body {background-color:rgb(171, 108, 185);}
h1 {text-align: center;
color: rgb(110, 0, 138);
border-style: solid;
border-color: rgb(255, 245, 112);
}
h2 {text-align: center;
color:rgb(255, 245, 112);
border-style: solid;
border-color: rgb(255, 245, 112);
}
h3 {text-align: center;
color:rgb(102, 14, 98);
border: 5px;
border-color: rgb(255, 245, 112);
}
#img1 {margin-left: 37%;
border-color: rgb(171, 108, 185);
border-width: 10px;
border-style: groove;
width:26% ;
}
#img2 {margin-left: 37%;
    border-color: rgb(171, 108, 185);
    border-width: 10px;
    border-style: groove;
    width:26% ;
    }
 h4 {text-align: center;
    color:rgb(102, 14, 98);
    border: 5px;
    border-color: rgb(255, 245, 112);
}
#img3 {margin-left: 37%;
    border-color: rgb(171, 108, 185);
    border-width: 10px;
    border-style: groove;
    width:26% ;
    }ody {background-color:rgb(171, 108, 185);}
h1 {text-align: center;
color: rgb(102, 14, 98);
border-style: solid;
border-color: rgb(255, 245, 112);
}
h2 {text-align: center;
color:rgb(102, 14, 98);
border-style: solid;
border-color: rgb(255, 245, 112);
}
h3 {text-align: center;
color:rgb(102, 14, 98);
border: 5px;
border-color: rgb(255, 245, 112);
}
#img1 {margin-left: 37%;
border-color: rgb(171, 108, 185);
border-width: 10px;
border-style: groove;
width:26% ;
}
#img2 {margin-left: 37%;
    border-color: rgb(171, 108, 185);
    border-width: 10px;
    border-style: groove;
    width:26% ;
    }
 h4 {text-align: center;
    color:rgb(102, 14, 98);
    border: 5px;
    border-color: rgb(255, 245, 112);
}
#img3 {margin-left: 37%;
    border-color: rgb(171, 108, 185);
    border-width: 10px;
    border-style: groove;
    width:26% ;
    }ody {background-color:rgb(171, 108, 185);}
h1 {text-align: center;
color: rgb(102, 14, 98);
border-style: solid;
border-color: rgb(255, 245, 112);
}
h2 {text-align: center;
color:rgb(102, 14, 98);
border-style: solid;
border-color: rgb(255, 245, 112);
}
h3 {text-align: center;
color:rgb(102, 14, 98);
border: 5px;
border-color: rgb(255, 245, 112);
}
#img1 {margin-left: 37%;
border-color: rgb(171, 108, 185);
border-width: 10px;
border-style: groove;
width:26% ;
}
#img2 {margin-left: 37%;
    border-color: rgb(171, 108, 185);
    border-width: 10px;
    border-style: groove;
    width:26% ;
    }
 h4 {text-align: center;
    color:rgb(102, 14, 98);
    border: 5px;
    border-color: rgb(255, 245, 112);
}
#img3 {margin-left: 37%;
    border-color: rgb(171, 108, 185);
    border-width: 10px;
    border-style: groove;
    width:26% ;
    }ody {background-color:rgb(171, 108, 185);}
h1 {text-align: center;
color: rgb(102, 14, 98);
border-style: solid;
border-color: rgb(255, 245, 112);
}
h2 {text-align: center;
color:rgb(102, 14, 98);
border-style: solid;
border-color: rgb(255, 245, 112);
}
h3 {text-align: center;
color:rgb(102, 14, 98);
border: 5px;
border-color: rgb(255, 245, 112);
}
#img1 {margin-left: 37%;
border-color: rgb(171, 108, 185);
border-width: 10px;
border-style: groove;
width:26% ;
}
#img2 {margin-left: 37%;
    border-color: rgb(171, 108, 185);
    border-width: 10px;
    border-style: groove;
    width:26% ;
    }
 h4 {text-align: center;
    color:rgb(102, 14, 98);
    border: 5px;
    border-color: rgb(255, 245, 112);
}
#img3 {margin-left: 37%;
    border-color: rgb(171, 108, 185);
    border-width: 10px;
    border-style: groove;
    width:26% ;
    }